In [2]:
# 1. Upsampling
# 2.Downsampling

In [69]:
import pandas as pd
import numpy as np

In [70]:
#set the random seed for reproducibility
np.random.seed(123)

n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [71]:
n_class_0,n_class_1

(900, 100)

In [72]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [73]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [74]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [75]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

# Upsampling

In [76]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [77]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [78]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [79]:
from sklearn.utils import resample

In [81]:
df_minority_upsample=resample(df_minority,replace=True,n_samples=len(df_majority),
                              random_state=42)

In [82]:
df_minority_upsample.shape

(900, 3)

In [41]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [42]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [43]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [44]:
##Downsampling

In [45]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [46]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [47]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [83]:
df_majority_downsample=resample(df_majority,replace=True,n_samples=len(df_minority),
                              random_state=42)

In [84]:
df_majority_downsample.shape

(100, 3)

In [89]:
df_downsample=pd.concat([df_minority,df_majority_downsample])

In [91]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64