In [1]:
a=10

In [2]:
_a=10

In [3]:
a#$@=10

10

In [4]:
a#$@

10

In [5]:
a-b=10

SyntaxError: cannot assign to operator (787291337.py, line 1)

In [7]:
d={'number':[2,34,34,23,2],
  'assignment':(1,2,3,4,5,6),
  'class_time':{'web_dev':8,
  'Data Science Master':8,
  'java with dsa and system':7}}

In [8]:
d['class_time']['Data Science Master']

8

In [9]:
d['mentor']=['sudhansu','krish','anurag','hyder']

In [10]:
del d['mentor']

In [11]:
d

{'number': [2, 34, 34, 23, 2],
 'assignment': (1, 2, 3, 4, 5, 6),
 'class_time': {'web_dev': 8,
  'Data Science Master': 8,
  'java with dsa and system': 7}}

In [12]:
d.pop('class_time')

{'web_dev': 8, 'Data Science Master': 8, 'java with dsa and system': 7}

In [13]:
d

{'number': [2, 34, 34, 23, 2], 'assignment': (1, 2, 3, 4, 5, 6)}

In [14]:
d.items()

dict_items([('number', [2, 34, 34, 23, 2]), ('assignment', (1, 2, 3, 4, 5, 6))])

In [15]:
import pandas as pd

In [16]:
d={'name':['shivam','ramesh','rohit'],
  'company':['tcs','info','wipro']}

In [17]:
df=pd.DataFrame(d)

In [18]:
df.head()

     name company
0  shivam     tcs
1  ramesh    info
2   rohit   wipro

In [ ]:
df.abs()