# Measure of Central Tendency

In [14]:
## Mean(Average)
age=[12,32,45,34,56,78,98]

In [15]:
import numpy as np

In [16]:
np.mean(age)

50.714285714285715

In [4]:
import seaborn as sns

In [17]:
df=sns.load_dataset('tips')

In [18]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [19]:
np.mean(df['total_bill'])

19.78594262295082



# median

In [20]:
np.median(age)

45.0

In [21]:
age=[12,32,45,34,56,78,98,500]
np.mean(age)

106.875

In [22]:
np.median(age)

50.5

In [23]:
from scipy import stats

In [24]:
stats.mode(age)

C:\Users\kmrsh\AppData\Local\Temp\ipykernel_19216\2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([12]), count=array([1]))

In [25]:
np.median(df['total_bill'])

17.795