In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
s=df['Name']

In [9]:
len(s)

891

In [23]:
s=df['Name'][0:10]

In [24]:

len(s)

10

In [25]:
type(s)

pandas.core.series.Series

In [26]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [27]:
l=['a','b','c','d','e','f','g','h','i','j']

In [29]:
s1=pd.Series(list(s),index=l)

In [30]:
s[0]

'Braund, Mr. Owen Harris'

In [31]:
s1[0]

'Braund, Mr. Owen Harris'

In [32]:
s1['a']

'Braund, Mr. Owen Harris'

In [33]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [37]:
s2=s1.append(s)

C:\Users\kmrsh\AppData\Local\Temp\ipykernel_5584\2552242485.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s1.append(s)

In [39]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [38]:
s2[0]

'Braund, Mr. Owen Harris'

In [40]:
s2[4]

'Allen, Mr. William Henry'

In [46]:
s5=pd.Series([3,4,5,5],index=[2,3,4,6])

In [48]:
s6=pd.Series([23,42,44,32],index=[2,3,4,5])

In [51]:
s7=s5.append(s6)

C:\Users\kmrsh\AppData\Local\Temp\ipykernel_5584\1954755072.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s7=s5.append(s6)

In [52]:
s7[4]

4     5
4    44
dtype: int64

In [53]:
s5*s6

2     69.0
3    168.0
4    220.0
5      NaN
6      NaN
dtype: float64