In [64]:
import pandas as pd

In [65]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [66]:
s2=pd.Series([6,7,8,9,10],index=['a','b','f','d','e'])

In [67]:
# concat function of pandas

In [68]:
s3=(pd.concat([s1,s2]))

In [69]:
s3

a     1
b     2
c     3
d     4
e     5
a     6
b     7
f     8
d     9
e    10
dtype: int64

In [70]:
s3[9]

10

In [74]:
s4=s1.append(s2)

C:\Users\kmrsh\AppData\Local\Temp\ipykernel_32416\3929853962.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s4=s1.append(s2)

In [75]:
s4

a     1
b     2
c     3
d     4
e     5
a     6
b     7
f     8
d     9
e    10
dtype: int64